
body {
    max-width: 100%;
    max-height: 100%;
   
}


pre {
    display: block;
    font-family: Cousine, monospace;
    font-size: 25px;
    line-height: 25px;
    white-space: pre;
    margin: 0 0;
    opacity: 0;
}


#container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1080px;
    height: 500px;
    margin-left: -540px;
    margin-top: -250px;
}

#frame {
    color: blue;
    position: absolute;
    top: 0; left: 0;
}

#logo {
    color: red;
    position: absolute;
    top: 50px; left: 0;
}

#welcome {
    position: absolute;
    top: 250px; left: 720px;
    width: 300px;
}

#menu {
    position: absolute;
    top: 425px; left: 90px;
}

.cursor {
    color: white;
    animation: blink 1s step-end infinite;
}
.map-local{
    border: 1px solid black;
    background-color: #000;
    max-width: 30%;
    max-height: 100%;
}

@keyframes blink {
	0% {color: black;}
	50% {color: white;}
}
.container-map
{
    width: 25%;
    height: 100%; 
    float: left;     
}

.block-map
{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    
    width: 600px;
    height: 600px;
    background: #D8DCDC;
    
    margin: 1%;
}
.container-posts
{
    width: 40%;
    margin-left: 38em;   
}

.block
{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    
    width: 600px;
    height: 200px;
    background: #aaeeff;
    
    margin: 1%;
}
.container-hashtags
{
    width: 6.5%;
    float: right;
    margin-right: 21em;
    margin-top: -53em;    
}

.block-2
{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    
    width: 200px;
    height: 100px;
    background: #FFFF00;
    
    margin: 1%;
}