{% macro google_font(family_string, version="v1", media="all") -%}
    {{ content_tag("link",
               rel="stylesheet",
               media=media,
               href="https://fonts.googleapis.com/css?family=%s&%s" % (family_string, version)) }}
{%- endmacro %}

{% macro stylesheet(path, media="all") -%}
    {{ content_tag("link",
               rel="stylesheet",
               media=media,
               href=url_for('static', filename="css/%s" % path)) }}
{%- endmacro %}

{% macro javascript(path) -%}
    {{ content_tag("script",
               src=url_for('static', filename="js/%s" % path),
               _force_close=True) }}
{%- endmacro %}
