{% extends "layout/base.html.jinja" %}

{%- from "helpers/application.html.jinja" import google_font %}
{%- from "helpers/application.html.jinja" import stylesheet %}
{%- from "helpers/application.html.jinja" import javascript %}

{% block title %}{{ user.full_name }}{% endblock %}

{% block precontent %}
    {% include "whatever/_nav.html.jinja" %}
{% endblock %}

{% block user_content %}

    <div class="container">
        <h1>HTML stuff goes here</h1>
    </div>

{% endblock %}

{% block scripts %}
    {{ javascript("default.js") }}
{% endblock %}
