{%- from "helpers/application.html.jinja" import google_font %}
{%- from "helpers/application.html.jinja" import stylesheet %}
{%- from "helpers/application.html.jinja" import javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:700italic,700|Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>

    {% block stylesheets %}
        {{ stylesheet("application.css") }}
    {% endblock %}

    {% block headscripts %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
        <script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>
    {% endblock %}

    <title>
        {%- block fulltitle -%}
            {% block title %}{% endblock %} - shoutboost
        {%- endblock -%}
    </title>
</head>

<body>
{% block header_bar %}{% endblock %}

{% block precontent %}{% endblock %}

<div class="layout-content">
    {% block content %}{% endblock %}
</div>

<footer class="layout-footer">
    <div class="container">
        <footer id="footer" class="clearfix">
            <ul class="nav nav-pills footer-nav pull-right">
                <li><a href="/nav1" title="" id="nav1">nav 1</a></li>
                <li><a href="/nav2" title="" id="nav2">nav 2</a></li>
                <li><a href="/nav3" title="" id="nav3">nav 3</a></li>
            </ul>
        </footer>
    </div>
</footer>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

{% block modals %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
